/********** Global ********/

body {
    background-image: url("../images/stripes.png");
}

/******** Header ********/
a {
    color: white;
}



header {
    position:relative;
    height: 66px;
    animation-name: top-bottom;
    animation-duration: .25s;
}

@keyframes top-bottom{from{top:-300px} to{top:0}}

.spacer {
    padding:20px;
    width:100%;
}

/******** Nav ********/ 

.navbar-brand {
    background-color: #4aaaa5;
}

.navbar {
    padding:0;
}

.nav-item:hover{
    background-color: #4aaaa5;
    border-radius:2px;
}

.ml-auto {
    margin-top: 7px;
    justify-content: center;
}

/******** Main Content ********/

.container .row h2 {
    padding: 10px;
}

.containerRadius {
    border-radius: 15px;
}

.container .row ul {
    position:relative;
    left:20px;
}


/******** Portfolio ********/

img{
    height: 300px;
    width: 300px;
}

.img {
    position: relative;
    display:inline-block;
    padding-left:0;
    padding: 0 auto;
    height:300px;
    width:300px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.img:hover{
    transform: translateY(-5px);
}

.img:active{
    transform: translateY(-2px);
}

h3 {
    position: absolute;
    top:80%;
    left:0;
    width:100%;
    padding: auto 0;
    margin: 0;
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-size: 1.5em
}

/******** Contact ********/
#formGroupExampleInput3 {
    height:250px;
    display:inline-block;
}

/******** Footer ********/

footer{
    position: fixed;
    bottom:0;
    padding-top: 15px;
    border-top: solid 10px;
    border-color: #4aaaa5;
    height:50px;
    text-align: center;
    width: 100%;
}

footer {
    position: fixed;
    height: 50px;
    text-align: center;
    width: 100%;
    bottom:0;
}

.push {
    height:75px;
}

/******** Responsive ********/

@media only screen and (max-width:989px){

.navbar ul{
    background-color: white;
    border: 1px solid #cccccc;
    z-index: 1;
    box-shadow: 1px 1px 1px grey;
    padding-left: 10px;
    width: 150px;
}

footer{
    position: fixed;
    bottom:0;
    padding-top: 15px;
    border-top: solid 10px;
    border-color: #4aaaa5;
}

}


@media only screen and (max-width:767px) {
    h3 {
        position: absolute;
        top:80%;
        left:0;
        width:100%;
        padding: auto 0;
        margin: 0;
        color: white;
        background-color: #4aaaa5;
        font-family: 'Georgia', Times, Times New Roman, serif;
        text-align: center;
        font-size: .75em
    }

    footer{
        position: fixed;
        bottom:0;
        padding-top: 15px;
        border-top: solid 10px;
        border-color: #4aaaa5;
    }
} 